.app > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  height: calc(var(--header-height) - 2rem);
  background-color: var(--primary-color);
  display: flex;
  padding: 1rem 10%;
  color: #FFFFFF;
}

button {
  height: var(--button-height);
  min-width: var(--button-height);
  position: relative;
  border-radius: 8px;
  box-shadow: inset 0px 4px 10px 0px rgba(255, 255, 255, 0.5);
  border: 2px solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.1rem;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
button::before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: 0px 5px 10px rgba(21, 21, 21, 0.619);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
button:disabled {
  background-color: #CBCBCB;
  text-shadow: none;
  border: none;
  box-shadow: none;
  color: #8D8D8D;
  cursor: not-allowed;
}
.primary-btn {
  background-color: var(--primary-color);
  border-color: var(--dark-primary-color);
  width: 100%;
}

/* TODO COMPONENT STYLES */
.app .todo {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 20px rgba(21, 21, 21, 0.619);
  position: fixed;
  top: 0;
  bottom: 0;

  header {
    gap: 1.5rem;
    p {
      margin: 0;
      padding-top: 0.25rem;
    }
    p > div {
      font-weight: 500;
      font-size: 1rem;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 100;
      font-style: italic;
      margin: 0;
      margin-top: 0.5rem;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  .banner {
    background-color: var(--green-accent-color);
    height: 116px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 0;
    border-color: var(--green-border-color);
    gap: 1rem;
    color: #071D55;
    text-shadow: 0px 2px 0px rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.1rem;

    &::before {
      display: none;
    }
    .badge {
      background-color: #071D55;
      color: var(--yellow-gold-color);
      width: 66px;
      height: 71px;
      display: grid;
      place-items: center;
      position: absolute;
      top: -2px;
      right: 5%;
      text-shadow: none;
    }
  }

  main {
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
    height: calc(100% - var(--header-height) - 116px - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 2.5%;
    }
    label {
      letter-spacing: 2.5px;

    }
    input {
      height: var(--input-field-height);
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border: 2px solid #CBCBCB;
      padding: 0 1.5rem;
      font-size: 1.25rem;
    }
    .actions {
      display: flex;
      width: 100%;
      gap: 1rem;
      justify-content: flex-end;
    }

    .primary-btn {
      font-size: 2.5rem;
      width: auto;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .primary-btn::before {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .tasks {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .task-card {
      background-color: #FFFFFF;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      color: #071D55;
      box-shadow: 0px 5px 5px rgba(129, 129, 129, 0.361);
      padding: 0 5%;
      height: 91px;
      border: 1px solid #E7E7E7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
      }

      button {
        box-shadow: none;
        text-shadow: none;
        color: #071D55;
        max-height: 45px;
        background-color: #FFFFFF;
        font-weight: 500;
      }
      button::before {
        display: none;
      }

      .checkbox {
        width: 32px;
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: grid;
        place-items: center;
        border: 1.5px solid #071D55;
      }

      svg {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all;
        -moz-transition: all;
        -ms-transition: all;
        -o-transition: all;
}
    }
    .task-card.completed {
      .info {
        text-decoration: line-through;
        color: #8D8D8D;
      }
      .checkbox {
        background-color: #53DA69;
        border-color: #49C25D;
      }
      svg {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    }
  }
}

.app .edit-task {
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-color);
  header {
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px rgba(21, 21, 21, 0.619);
    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
    }
  }
  main {
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
    height: calc(100% - var(--header-height) - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 2.5%;
    }
    label {
      letter-spacing: 2.5px;

    }
    input {
      height: var(--input-field-height);
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border: 2px solid #CBCBCB;
      padding: 0 1.5rem;
      font-size: 1.25rem;
    }
    .actions {
      display: flex;
      width: 100%;
      gap: 1rem;
    }
    .danger-btn {
      width: 30%;
      min-width: 120px;
      background-color: var(--danger-color);
      border-color: var(--dark-danger-color);
    }
    .danger-btn:disabled {
      background-color: #CBCBCB;
      border-color: #CBCBCB;
    }
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 425px) {

}

